<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign | In</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="{form.username.id_for_label}">Enter Username:</label>
        {{ form.username }}
        <br><br>
        <label for="{form.password.id_for_label}">Enter your Password:</label>
        {{ form.password }}
        <br><br>
        <button type="submit">Login</button><br><br>
        <button type="submit">Forget Password</button>
    </form>
</body>
</html>